@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/Crimson_Text,Roboto/Crimson_Text/CrimsonText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/Crimson_Text,Roboto/Crimson_Text/CrimsonText-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/Crimson_Text,Roboto/Crimson_Text/CrimsonText-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/Crimson_Text,Roboto/Crimson_Text/CrimsonText-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/Crimson_Text,Roboto/Crimson_Text/CrimsonText-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/Crimson_Text,Roboto/Crimson_Text/CrimsonText-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*html & body*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url("./images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* header and children / footer */
header,
footer {
  display: flex;
  flex: 0 0 25vh;
  justify-content: center;
  align-items: center;
  font-family: "Crimson Text", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
}
footer {
  flex-basis: 5vh;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 2rem;
  padding: 1rem 0;
}
nav > a {
  font-size: 4rem;
}
nav > a:hover{
  cursor: pointer;
}
nav > div {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 4rem;
  font-size: 1.5rem;
}
nav > div:focus-within button:not(:focus) {
  border-bottom: none;
}
button {
  all: unset;
  cursor: pointer;
  padding-bottom: 10px;
  transition: transform 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}
button:hover {
  transform: translateY(-6px);
}
button.active {
  border-bottom: 2px solid white;
}

/* content container and general main styles */
#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 7.5vh 10vw;
  text-align: center;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
  width: 100%;
  max-width: 700px;
  max-height: 55vh;
  flex-grow: 1;
  padding: 1.5rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
}
main > * {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* homepage specific main and children styles */
.homeView > img {
  display: block;
}
.homeView {
  line-height: 3rem;
  font-size: 2rem;
  gap: 1.5rem;
}
.logo {
  width: 30vw;
  min-width: 400px;
  height: auto;
  object-fit: contain;
}

/* menupage specifix main and children styles */
.menuView {
  display: grid;
  height: auto;
  align-content: start;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 1.5rem;
  max-height: unset;
  line-height: 1.5rem;
}
.menuView > div {
  align-self: stretch;
  justify-self: stretch;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.menuView > div:hover{
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.menuView > div > img {
  height: 140px;
  width: auto;
  object-fit: contain;
}

/*contactpage specific main and children styles*/
.contactView {
  grid-template-rows: minmax(50px, 5vh) minmax(200px, 45vh);
  gap: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
}
.locationImage,
.contactInfo {
  justify-self: stretch;
  align-self: stretch;
}
.locationImage {
  max-width: 100%;
}
.phoneNumberImage,
.storeImage {
  vertical-align: middle;
}
.phoneNumberImage {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.storeImage {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 650px) {
  main{
  max-height: 45vh;
  }
  #content{
    padding:12.5vh 10vw;
  }
  .homeView{
    font-size: 1.5rem;
  }
  .contactView{
    grid-template-rows: auto 1fr;
  }
}
@media screen and (max-width: 570px){  
  nav > a{
    font-size: 3rem;
  }
  .logo{
    min-width: 350px;
  }
  .menuView{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px){
.homeView{
  font-size: 1.3rem;
}
.logo{
    min-width: 300px;
  }
#content{
  padding: 15vh 10vw;
}
main{
  max-height: 42.5vh;
}
}